AWS_REGION=us-east-2
AWS_ACCOUNT_ID=210452150784
S3_BUCKET=employee-document-vault-210452150784-us-east-2
S3_FRONTEND_BUCKET=employee-vault-frontend-210452150784-us-east-2
FRONTEND_URL=http://employee-vault-frontend-210452150784-us-east-2.s3-website.us-east-2.amazonaws.com
COGNITO_USER_POOL_ID=us-east-2_xlMw5oMEz
COGNITO_CLIENT_ID=6tr2dmu8c71hcqr3lgtj9oc6i1
API_GATEWAY_URL=https://gk6sav3uah.execute-api.us-east-2.amazonaws.com/prod
DOCUMENT_TABLE=document_metadata
AUDIT_TABLE=audit_log
EMPLOYEE_TABLE=employee_directory
KMS_KEY_ID=031e72ea-c2db-4b60-8717-80f83bad5188
KMS_KEY_ARN=arn:aws:kms:us-east-2:210452150784:key/031e72ea-c2db-4b60-8717-80f83bad5188
